@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

body {
  background-color: #474545;
}

header {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 35px;
  color: ghostwhite;
  font-family: "Do Hyeon", sans-serif;
  /* align-items: center; */
}

.search_form {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid dimgray;
  padding: 20px;
  width: 100%;
}

.search_input {
  margin: auto 10px auto 20px;
  padding: 8px;
  width: 250px;
}

.search_form > p {
  font-size: 20px;
  color: #d6e1ec;
}

.search_form button {
  padding: 8px;
}

.form_group {
  margin-right: 20px;
}

.card_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.movie_card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: #c6b7b7;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 0px 20px;
  justify-self: center;
}

.movie_card img {
  width: 100%;
}

.movie_info p {
  margin: 5px auto 5px auto;
}
